@charset "UTF-8";
body {
  width: 100%;
  height: 100%;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: "Roboto Slab", Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: 700; }

@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6; } }

a {
  color: #00C06A;
  transition: all .2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #005a32; }

.light {
  font-weight: 400; }

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border-radius: 100% !important;
  font-size: 40px;
  background: transparent;
  transition: background .3s ease-in-out; }
  .btn-circle:hover, .btn-circle:focus {
    outline: none; }
  .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s; }
  .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.btn {
  font-family: "Roboto Slab", Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: 400;
  transition: all .3s ease-in-out;
  border-radius: 0; }

.btn-default {
  border: 1px solid #00C06A;
  color: #00C06A;
  background-color: transparent; }
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #00C06A;
    outline: none;
    color: #000000;
    background-color: #00C06A; }

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }
    ul.banner-social-buttons li:last-child {
      margin-bottom: 0; } }

body {
  color: #000000;
  background-color: #FFFFFF; }

.intro {
  color: #000000;
  font-weight: bold;
  background: url(/img/math.png) repeat;
  background-color: #FFFFFF; }

.btn-circle {
  border: 2px solid #000000;
  color: #000000; }
  .btn-circle:focus {
    color: #000000;
    background: rgba(0, 0, 0, 0.1); }

.pdf {
  margin-top: 50px; }

.twitter {
  margin-top: 30px;
  margin-bottom: 30px; }

.brand-heading {
  font-size: 40px; }
  @media (min-width: 768px) {
    .brand-heading {
      font-size: 100px; } }

.intro-text {
  font-size: 18px; }
  @media (min-width: 768px) {
    .intro-text {
      font-size: 26px; } }

.buy {
  background: url(/img/congruent_pentagon.png) repeat; }
