// Variables

$primary: #00C06A;
$white: #FFFFFF;
$black: #000000;

$headline-font-family: "Roboto Slab", Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$body-font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
