@import "_grayscale";

body {
  color: $black;
  background-color: $white;
}

.intro {
  color: $black;
  font-weight: bold;
  background: url(/img/math.png) repeat;
  background-color: $white;
}

.btn-circle {
  border: 2px solid $black;
  color: $black;
  &:focus {
    color: $black;
    background: rgba($black, 0.1);
  }
}

.pdf {
  margin-top: 50px;
}

.twitter {
  margin-top: 30px;
  margin-bottom: 30px;
}

.brand-heading {
  font-size: 40px;
  @media(min-width: 768px) {
    font-size: 100px;
  }
}

.intro-text {
  font-size: 18px;
  @media(min-width: 768px) {
    font-size: 26px;
  }
}

.buy {
  background: url(/img/congruent_pentagon.png) repeat;
}
